* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial;
	background-color: #fff;
}

.header {
	text-align: center;
	padding: 32px;
	background-color: black;
	/* background: url(./0p_gif.gif) no-repeat center center; */
	background-image: url(./cover.gif);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* animation-iteration-count: infinite;
	animation: animatedBackground 40s linear infinite; */
	color: #dcdcdc;
	/* -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777; */
}

.logo {
	width: 150px;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border: 1px solid black;
}

.column img.med {
	border: 2px solid #ff0000;
	border-radius: 20px;
}

.column img.hig {
	border: 3px solid #ffff00;
	border-radius: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}

	.header {
		padding: 10px;
	}

	.logo {
		width: 100px;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}

.components_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.components > ul {
	/* max-height: 400px;
  overflow: scroll; */
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-basis: auto;
	justify-content: space-evenly;
}

.components > select {
	margin-bottom: 10px;
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8 {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
		0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
		0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before,
.effect8:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 0;
	-moz-border-radius: 100px / 10px;
	border-radius: 100px / 10px;
}
.effect8:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}

.dev-form {
	margin: 20px 10px;
}

img.form {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	max-width: 250px;
	max-height: 250px;
	/* border: 1px solid black; */
	border-radius: 10px;
}

img.med {
	border: 1px solid #ff9999;
	/* border-radius: 20px; */
}

img.hig {
	border: 1px solid #ffff99;
	/* border-radius: 20px; */
}

li.form {
	height: 100%;
	background-color: #dcdcdc;
	border-radius: 10px;
	border: none;
	/* -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777; */
}

li.med {
	background: #ff9999;
}

li.hig {
	background: #ffff99;
}

.btn_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_container > button {
	text-align: center;
	background: #00acee;
	width: 100px;
	height: 40px;
	/* -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777; */
	border: none;
	border-radius: 10px;
}

.btn_container > button:hover {
	box-shadow: none;
	border: 1px solid #ffff00;
	color: #ffff00;
}

.image-picker {
	height: 2.5em;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 10px;
	box-sizing: border-box;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	/* float: right; */
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 5px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal_card {
	border-radius: 10px;
	background: #aaaaaa;
	padding: 10px;
	margin: 10px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal_card:hover {
	background: #00acee;
}

.modal_img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	max-width: 250px;
	max-height: 250px;
	/* border: 1px solid black; */
	border-radius: 10px;
}

.page {
	text-decoration: none;
	color: #ffff00;
}

#myBtn {
	display: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #dcdcdc;
	color: #fff;
	box-shadow: none;
	padding: 0;
	margin: 10px auto;
	border: 2px solid #fff;
	font-size: 1.5em;
}

@media screen and (max-width: 768px) {
	.modal {
		padding: 20px 0;
	}

	.modal-content {
		max-height: 100%;
		overflow: scroll;
	}
	#myBtn {
		display: block;
	}
}

footer {
	display: flex;
	background: #e6f0ff;
	color: #999;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 32px;
	text-align: center;
	text-decoration: none;
}

p.footer-links > a {
	text-decoration: none;
	color: #0a0a0a;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.rowtab {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px 0;
	width: 100%;
}

.label {
	display: inline-block;
	text-align: right;
	width: 40%;
	padding: 5px;
	vertical-align: middle;
	/* margin-top: 10px; */
}

.righttab {
	display: inline-block;
	text-align: left;
	width: 40%;
	vertical-align: middle;
	padding: 0 10px;
}

.righttab > input {
	height: 100%;
	vertical-align: middle;
	width: 100%;
}
